.addIcon {
    visibility: hidden;
}

.matchedLine:hover {
    cursor: pointer;
}

.matchedLine:hover .addIcon {
    visibility: visible;
}

#poem {
	background-color: #f4f4a5;
	padding-top: 2em;
	padding-bottom: 2em;
	color: #3f3f94;
}

.verse {
    font-style: italic;
}

#matchingLines {
    max-height: 21em;
    overflow-y: auto;
}

.poet {
    height: 300px;
    margin: 1em;
    cursor: pointer;
}

.poet.selected {
	box-shadow: 0px 0px 64px 16px rgba(0, 0, 0, 0.75);
}